# data collection

In [8]:
import pandas as pd

In [61]:
# train = pd.read_csv('Data_latih.csv')
# test = pd.read_csv('Data_uji.csv')

cnn_news = pd.read_excel('dataset_cnn_summarized.xlsx')
kompas_news = pd.read_excel('dataset_kompas_summarized.xlsx')
tempo_news = pd.read_excel('dataset_tempo_summarized.xlsx')
hoax_news = pd.read_excel('dataset_turnbackhoax_summarized.xlsx')

In [62]:
cnn_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9630 entries, 0 to 9629
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 9630 non-null   int64
 1   title                 9630 non-null   object
 2   raw timestamp         9630 non-null   object
 3   original              9630 non-null   object
 4   tags                  9627 non-null   object
 5   author                9630 non-null   object
 6   url                   9630 non-null   object
 7   cleaned               9630 non-null   object
 8   label                 9630 non-null   int64
 9   timestamp             9630 non-null   datetime64[ns]
 10  cleaned token length  9630 non-null   int64
 11  summarized            9630 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 902.9+ KB

In [63]:
kompas_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4729 entries, 0 to 4728
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4729 non-null   int64
 1   title                 4729 non-null   object
 2   raw timestamp         4729 non-null   object
 3   original              4723 non-null   object
 4   tags                  4592 non-null   object
 5   author                4413 non-null   object
 6   url                   4729 non-null   object
 7   cleaned               4723 non-null   object
 8   label                 4729 non-null   int64
 9   timestamp             4729 non-null   datetime64[ns]
 10  cleaned token length  4729 non-null   int64
 11  summarized            4547 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 443.5+ KB

In [64]:
tempo_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6592 entries, 0 to 6591
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 6592 non-null   int64
 1   title                 6592 non-null   object
 2   raw timestamp         6592 non-null   object
 3   original              6592 non-null   object
 4   tags                  6591 non-null   object
 5   author                6592 non-null   object
 6   url                   6592 non-null   object
 7   cleaned               6592 non-null   object
 8   label                 6592 non-null   int64
 9   timestamp             6592 non-null   datetime64[ns]
 10  cleaned token length  6592 non-null   int64
 11  summarized            6592 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 618.1+ KB

In [65]:
hoax_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10381 entries, 0 to 10380
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 10381 non-null  int64
 1   title                 10381 non-null  object
 2   raw timestamp         10381 non-null  object
 3   original              10381 non-null  object
 4   tags                  10381 non-null  object
 5   author                10381 non-null  object
 6   url                   10381 non-null  object
 7   politik               10381 non-null  int64
 8   raw narasi            10381 non-null  object
 9   cleaned               6502 non-null   object
 10  label                 10381 non-null  int64
 11  timestamp             10381 non-null  datetime64[ns]
 12  cleaned token length  10381 non-null  int64
 13  summarized            6166 non-null   object
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 1.1+ MB

# data preprocessing

In [ ]:


cnn_news = cnn_news.drop(['index', 'title', 'raw timestamp', 'original', 'tags', 'author', 'url', 'cleaned', 'timestamp', 'cleaned token length'], axis=1)

kompas_news = kompas_news.drop(['index', 'title', 'raw timestamp', 'original', 'tags', 'author', 'url', 'cleaned', 'timestamp', 'cleaned token length'], axis=1)

tempo_news = tempo_news.drop(['index', 'title', 'raw timestamp', 'original', 'tags', 'author', 'url',  'cleaned', 'timestamp', 'cleaned token length'], axis=1)

hoax_news = hoax_news.drop(['index', 'title', 'raw timestamp', 'original', 'tags', 'author', 'url', 'politik','raw narasi' ,  'cleaned', 'timestamp', 'cleaned token length'], axis=1)

In [67]:
cnn_news.info(), kompas_news.info(), tempo_news.info(), hoax_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9630 entries, 0 to 9629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       9630 non-null   int64
 1   summarized  9630 non-null   object
dtypes: int64(1), object(1)
memory usage: 150.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4729 entries, 0 to 4728
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       4729 non-null   int64
 1   summarized  4547 non-null   object
dtypes: int64(1), object(1)
memory usage: 74.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6592 entries, 0 to 6591
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       6592 non-null   int64
 1   summarized  6592 non-null   object
dtypes: int64(1), object(1)
memory usage: 103.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10381 entries, 0 to 10380
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       10381 non-null  int64
 1   summarized  6166 non-null   object
dtypes: int64(1), object(1)
memory usage: 162.3+ KB

(None, None, None, None)

In [68]:
cnn_news = cnn_news.dropna(subset=['summarized'])
cnn_news.info()

kompas_news = kompas_news.dropna(subset=['summarized'])
kompas_news.info()

tempo_news = tempo_news.dropna(subset=['summarized'])
tempo_news.info()


hoax_news = hoax_news.dropna(subset=['summarized'])
hoax_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9630 entries, 0 to 9629
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       9630 non-null   int64
 1   summarized  9630 non-null   object
dtypes: int64(1), object(1)
memory usage: 150.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 4547 entries, 0 to 4728
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       4547 non-null   int64
 1   summarized  4547 non-null   object
dtypes: int64(1), object(1)
memory usage: 106.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6592 entries, 0 to 6591
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       6592 non-null   int64
 1   summarized  6592 non-null   object
dtypes: int64(1), object(1)
memory usage: 103.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 6166 entries, 0 to 10380
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       6166 non-null   int64
 1   summarized  6166 non-null   object
dtypes: int64(1), object(1)
memory usage: 144.5+ KB

In [69]:
# Sample equally from cnn_news, kompas_news, and tempo_news to total 10k (approx. 3333 each)
n_each = 6000 // 3

cnn_sample = cnn_news.sample(n=n_each, random_state=42)
kompas_sample = kompas_news.sample(n=n_each, random_state=42)
tempo_sample = tempo_news.sample(n=n_each, random_state=42)  # Adjust for rounding

# Concatenate the samples
combined_news = pd.concat([cnn_sample, kompas_sample, tempo_sample], ignore_index=True)

# Shuffle the combined dataframe
combined_news = combined_news.sample(frac=1, random_state=42).reset_index(drop=True)

combined_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       6000 non-null   int64
 1   summarized  6000 non-null   object
dtypes: int64(1), object(1)
memory usage: 93.9+ KB

In [70]:
# Combine combined_news (10k, mostly non-hoax) and hoax_news (10k, all hoax) for 20k train data
train = pd.concat([
    combined_news,
    hoax_news.sample(n=6000, random_state=42)  # sample 10k hoax to balance
], ignore_index=True)

# Shuffle the combined train data
train = train.sample(frac=1, random_state=42).reset_index(drop=True)

In [71]:
train.info()
train['label'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       12000 non-null  int64
 1   summarized  12000 non-null  object
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

label
0    6000
1    6000
Name: count, dtype: int64

## punct stopwords symbols lowercase stemming (data cleaning)

In [72]:
train.head(4)

   label                                         summarized
0      0  Presiden Jokowi meminta relawan Bravo-5 yang d...
1      1  Wakil walikota malang ini saya mau menyampaika...
2      0  Wawasan Nusantara benar diimplementasikan. Waw...
3      1  Duta Besar Turki untuk Indonesia, Sander Gurbu...

In [73]:
# Tokenize
from nltk import word_tokenize
# Fill NaN values with empty string to avoid TypeError during tokenization
train["summarized"] = train["summarized"].fillna("")
train["summarized"] = train["summarized"].apply(word_tokenize)
train.head(4)

   label                                         summarized
0      0  [Presiden, Jokowi, meminta, relawan, Bravo-5, ...
1      1  [Wakil, walikota, malang, ini, saya, mau, meny...
2      0  [Wawasan, Nusantara, benar, diimplementasikan,...
3      1  [Duta, Besar, Turki, untuk, Indonesia, ,, Sand...

In [74]:
# punctuation -> nltk punkt

import string

def remove_punctuation(tokens):
    return [token for token in tokens if token not in string.punctuation]

train["summarized"] = train["summarized"].apply(remove_punctuation)
train.head(4)

   label                                         summarized
0      0  [Presiden, Jokowi, meminta, relawan, Bravo-5, ...
1      1  [Wakil, walikota, malang, ini, saya, mau, meny...
2      0  [Wawasan, Nusantara, benar, diimplementasikan,...
3      1  [Duta, Besar, Turki, untuk, Indonesia, Sander,...

In [75]:
!pip install Sastrawi

Requirement already satisfied: Sastrawi in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.0.1)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [52]:
# stopwords -> https://rahmadya.com/2019/04/24/stopword-berbahasa-indonesia/
import nltk
from nltk.corpus import stopwords
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

# Download NLTK English stopwords (if not already downloaded)
nltk.download('stopwords')

# Load English stopwords
stopwords_english = set(stopwords.words('english'))

# Load Indonesian stopwords from Sastrawi
factory = StopWordRemoverFactory()
stopwords_indonesia = set(factory.get_stop_words())

# Combine both stopword lists
combined_stopwords = stopwords_english.union(stopwords_indonesia)

# Function to remove stopwords
def remove_stopwords(tokens):
    return [word for word in tokens if word.lower() not in combined_stopwords]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Apply to DataFrame
train["summarized"] = train["summarized"].apply(remove_stopwords)
train.head(4)  # Check results

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

   label                                         summarized
0      0  [Presiden, Jokowi, meminta, relawan, Bravo-5, ...
1      1  [Wakil, walikota, malang, mau, menyampaikan, j...
2      0  [Wawasan, Nusantara, benar, diimplementasikan,...
3      1  [Duta, Besar, Turki, Indonesia, Sander, Gurbuz...

In [77]:
# symbols -> isalpha()
def remove_symbols(tokens):
    return [word for word in tokens if word.isalpha()]

train["summarized"] = train["summarized"].apply(remove_symbols)
train.head(4)

   label                                         summarized
0      0  [Presiden, Jokowi, meminta, relawan, digawangi...
1      1  [Wakil, walikota, malang, mau, menyampaikan, j...
2      0  [Wawasan, Nusantara, benar, diimplementasikan,...
3      1  [Duta, Besar, Turki, Indonesia, Sander, Gurbuz...

In [78]:
# case folding -> lower()
train["summarized"] = train["summarized"].apply(lambda tokens: [word.lower() for word in tokens])
train.head(4)

   label                                         summarized
0      0  [presiden, jokowi, meminta, relawan, digawangi...
1      1  [wakil, walikota, malang, mau, menyampaikan, j...
2      0  [wawasan, nusantara, benar, diimplementasikan,...
3      1  [duta, besar, turki, indonesia, sander, gurbuz...

In [79]:
# stemming -> https://pypi.org/project/Sastrawi/
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# Initialize the stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()
def stem_tokens(tokens):
    # Join tokens into a sentence
    sentence = ' '.join(tokens)
    # Stem the sentence
    stemmed_sentence = stemmer.stem(sentence)
    # Split back into tokens
    return stemmed_sentence.split()

# Apply to the DataFrame
train["summarized"] = train["summarized"].apply(stem_tokens)
train.head(4)

   label                                         summarized
0      0  [presiden, jokowi, minta, rawan, gawang, luhut...
1      1  [wakil, walikota, malang, mau, sampai, jajar, ...
2      0  [wawas, nusantara, benar, implementasi, wawas,...
3      1  [duta, besar, turki, indonesia, sander, gurbuz...

In [80]:
train.to_csv('processed_data.csv', index=False)  # No row numbers

In [37]:
#if processed data is lost

train = pd.read_csv('processed_data.csv')

# more data processing

In [ ]:
import ast

# If text_processed column contains lists as strings, convert them back to lists
def ensure_list(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)
        except Exception:
            return []
    return val


train.head(4)

   label                                         summarized
0      0  ['presiden', 'jokowi', 'minta', 'rawan', 'gawa...
1      1  ['wakil', 'walikota', 'malang', 'mau', 'sampai...
2      0  ['wawas', 'nusantara', 'benar', 'implementasi'...
3      1  ['duta', 'besar', 'turki', 'indonesia', 'sande...

In [40]:
train['text_processed'] = train['summarized'].apply(ensure_list)

# Now join tokens to form proper text
train['text_processed'] = train['text_processed'].apply(lambda tokens: ' '.join(tokens))
train.head()

,label,summarized,text_processed
0,0,"['presiden', 'jokowi', 'minta', 'rawan', 'gawa...",presiden jokowi minta rawan gawang luhut binsa...
1,1,"['wakil', 'walikota', 'malang', 'mau', 'sampai...",wakil walikota malang mau sampai jajar staf se...
2,0,"['wawas', 'nusantara', 'benar', 'implementasi'...",wawas nusantara benar implementasi wawas nusan...
3,1,"['duta', 'besar', 'turki', 'indonesia', 'sande...",duta besar turki indonesia sander gurbuz beri ...
4,0,"['institute', 'matang', 'rencana', 'diri', 'pa...",institute matang rencana diri partai serikat b...

In [41]:
# learn embedding/word vectorizing + feature extraction, see if one of them isnt needed n stuff karena my paper didnt use "embedding" -> *just learn how to use tf-idf*

from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF
tfidf = TfidfVectorizer(
    max_features=5000,  # Keep top 5000 words (adjust as needed)
    min_df=2,           # Ignore words appearing in <2 docs
    max_df=0.95,        # Ignore words in >95% of docs (remove common words)
    ngram_range=(1, 2)  # Include 1-word and 2-word phrases (e.g., "kota besar")
)

# If train["FullText"] contains lists of tokens, join them into strings for TF-IDF
X_tfidf = tfidf.fit_transform(train["text_processed"])


# Convert to DataFrame (optional)
# tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=tfidf.get_feature_names_out())
# print(tfidf_df.head())

In [42]:
# split data for TRAIN
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

# Split data
X_train, X_test, y_train, y_test = train_test_split(
    X_tfidf, train["label"], test_size=0.2, random_state=42
)

# modelling

https://www.kaggle.com/discussions/questions-and-answers/410405

if you want an easy way out, just compare how multiple models function based on this one dataset

---


also, kan harus pake metrics. bisa pake accuracy recall precision f-1 score yada yada. tapi di kaggle kan ada data_test or whatever, nah itu bisa dipake buat kayak manual testing. kayak use the models to guess if a certain row in the csv itu fake news or not. (if you do this, dont forget to make a function (or smth) to preprocess the single query you put in)

## naive bayes

In [53]:
# Naive_Bayes MultinomialNB
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


from sklearn.metrics import classification_report

# Generate classification report
report = classification_report(y_test, y_pred)

# Print the report
print(report)

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      1190
           1       0.93      0.89      0.91      1210

    accuracy                           0.91      2400
   macro avg       0.91      0.91      0.91      2400
weighted avg       0.91      0.91      0.91      2400

In [54]:
# === Saving Phase (run once) ===
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import joblib
joblib.dump(model, 'multinomial_nb_model.joblib')

# Save TF-IDF vectorizer
joblib.dump(tfidf, 'tfidf_vectorizer.joblib')

# Save preprocessing tools
factory = StemmerFactory()
stemmer = factory.create_stemmer()
joblib.dump(stemmer, 'stemmer.joblib')
joblib.dump(combined_stopwords, 'stopwords.joblib')

['stopwords.joblib']

In [45]:
# Naive_Bayes BernoulliNB
from sklearn.naive_bayes import BernoulliNB

model = BernoulliNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


from sklearn.metrics import classification_report

# Generate classification report
report = classification_report(y_test, y_pred)

# Print the report
print(report)

              precision    recall  f1-score   support

           0       0.91      0.80      0.85      1190
           1       0.82      0.92      0.87      1210

    accuracy                           0.86      2400
   macro avg       0.87      0.86      0.86      2400
weighted avg       0.87      0.86      0.86      2400

In [46]:
# Naive_Bayes GaussianNB
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train.toarray(), y_train)
y_pred = model.predict(X_test.toarray())


from sklearn.metrics import classification_report

# Generate classification report
report = classification_report(y_test, y_pred)

# Print the report
print(report)

              precision    recall  f1-score   support

           0       0.92      0.92      0.92      1190
           1       0.92      0.92      0.92      1210

    accuracy                           0.92      2400
   macro avg       0.92      0.92      0.92      2400
weighted avg       0.92      0.92      0.92      2400

## svm

In [47]:
# SVM
from sklearn.svm import SVC
from sklearn.metrics import classification_report

svm_model = SVC()
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)

print("SVM Classification Report:")
print(classification_report(y_test, y_pred_svm))

SVM Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.94      0.95      1190
           1       0.95      0.96      0.95      1210

    accuracy                           0.95      2400
   macro avg       0.95      0.95      0.95      2400
weighted avg       0.95      0.95      0.95      2400

## random forest

In [91]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)

print("Random Forest Classification Report:")
print(classification_report(y_test, y_pred_rf))

Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.93      0.93      1190
           1       0.93      0.94      0.94      1210

    accuracy                           0.94      2400
   macro avg       0.94      0.93      0.93      2400
weighted avg       0.94      0.94      0.93      2400

In [92]:
train['label'].value_counts()

label
0    6000
1    6000
Name: count, dtype: int64